<script>
  export default {
    methods: {
      toggle () {
        if (this.disabled === false) {
          this.$emit('input', !this.value)
        }
      }
    },
    name: 'CheckButton',
    props: {
      disabled: {
        default: false,
        type: Boolean
      },
      text: {
        required: true,
        type: String
      },
      value: {
        default: false,
        required: true,
        type: Boolean
      }
    }
  }
</script>

<template lang='pug'>
  .check-button(
    :class="{ 'check-button--selected': value, 'check-button--disabled': disabled }",
    tabindex='0'
    @click='toggle'
    @keyup.enter='toggle'
  ) {{ text }}

</template>

<style lang='stylus'>

  .check-button
    align-items: center
    background: #fff
    border-radius: 4px
    border: 1px solid #ced0d9
    color: #3d4250
    cursor: pointer
    display: flex
    font-size: 18px
    justify-content: center
    margin-bottom: 15px
    min-height: 100px
    padding: 15px 20px
    transition: .2s

    @media (min-width: 768px)
      font-size: 20px
      margin-bottom: 20px
      min-height: 120px
      padding: 20px 30px

    &:hover
      box-shadow: 0 1px 4px 0 rgba(#565b75, 0.18)
      transform: translateY(-3px)

    &:focus
      box-shadow: 0 0 6px 0 #3ecadd
      outline: none

    &--disabled
      opacity: 0.5
      pointer-events: none
      text-decoration: line-through

    &--selected
      background: #f4fcfd
      border: 2px solid #3ecadd
      box-shadow: none   

</style>
