<script>
  import TextInput from '@/components/Shared/TextInput.vue'
  import moment from 'moment'

  export default {
    name: 'DobInput',
    components: {
      TextInput
    },
    props: {
      minAge: {
        type: String,
        default: 18
      },
      description: {
        type: String,
        default: null
      },
      value: {
        type: String,
        required: false
      }
    },
    data () {
      let values = { day: null, month: null, year: null }
      if (this.value) {
        const parsedValue = moment(this.value)
        values = Object.assign(values, {
          day: parsedValue.format('DD'),
          month: parsedValue.format('MM'),
          year: parsedValue.year().toString()
        })
      }
      return {
        day: values.day,
        month: values.month,
        year: values.year,
        hasInteracted: {
          day: false,
          month: false,
          year: false
        }
      }
    },
    computed: {
      dob () {
        if (this.errors.items.length === 0 && this.day && this.month && this.year) {
          let dob = moment.utc({ year: this.year, month: parseInt(this.month) - 1, day: this.day }).toISOString()
          return dob ? dob.substring(0, 10) : undefined
        }
      },
      hasAgeError () {
        return this.dob ? moment().diff(moment(this.dob), 'years') < this.minAge : null
      },
      hasValidationErrors () {
        return this.errors.items.length > 0 || this.hasAgeError === true
      },
      validationErrorMessage () {
        if (this.hasAgeError) {
          return 'You must be over 18'
        }
        return this.visibleValidationErrors.length > 0 ? this.visibleValidationErrors[0].msg : ''
      },
      visibleValidationErrors () {
        return this.errors.items.filter((error) => {
          return this.hasInteracted[error.field] === true
        })
      }
    },
    methods: {
      setHasInteracted (key) {
        this.hasInteracted[key] = true
      },
      submit () {
        this.$emit('submit')
      }
    },
    mounted () {
      this.$refs.dayInput.focus()
    },
    watch: {
      async dob (value) {
        /*
          It seems like $validator is a tick behind computed values when it comes to
          generating, so we wait a tick before deciding whether to emit our dob.
        */
        await this.$nextTick()
        if (this.hasValidationErrors === false) {
          this.$emit('input', value)
        }
      },
      hasValidationErrors (value) {
        this.$emit('has-validation-errors:updated', value)
      }
    }
  }
</script>

<template lang='pug'>
  .input.input__dob(:class='{ "error": hasAgeError }')
    p.body--small.input__description(v-if='description', :class='{ "error": hasAgeError }') {{ description }}
    .input__group
      text-input.input__dob__day(
        data-vv-validate-on="input|blur"
        name='day'
        ref="dayInput"
        type='number',
        v-model='day',
        placeholder='DD',
        :error='errors.has("day") && this.hasInteracted.day === true',
        v-validate='"required|min_value:1|max_value:31"',
        maxlength="2"
        @blur="setHasInteracted('day')"
        @keyup.enter="submit"
      )
      text-input.input__dob__month(
        data-vv-validate-on="input|blur"
        name='month'
        type='number',
        v-model='month',
        placeholder='MM',
        :error='errors.has("month") && this.hasInteracted.month === true',
        v-validate='"required|min_value:1|max_value:12"',
        maxlength="2"
        @blur="setHasInteracted('month')"
        @keyup.enter="submit"
      )
      text-input.input__dob__year(
        data-vv-validate-on="input|blur"
        name='year'
        type='number',
        v-model='year',
        placeholder='YYYY',
        v-validate='"required|min_value:1900|max_value:2018"',
        :error='errors.has("year") && this.hasInteracted.year === true',
        maxlength="4"
        @blur="setHasInteracted('year')"
        @keyup.enter="submit"
      )
    p.body--small.input__feedback(v-if='validationErrorMessage')
      span {{ validationErrorMessage }}
</template>

<style lang='stylus'>
  .input__dob
    .input__dob__day
    .input__dob__month
      max-width: 65px
      margin-right: 15px
      margin-bottom: 0
      padding: 0

    .input__dob__year
      max-width: 85px
      margin-bottom: 0

    .input__feedback
      color: #FA476F

    input[type=number]
      &::-webkit-inner-spin-button
      &::-webkit-outer-spin-button
        -webkit-appearance: none
        appearance: none
        margin: 0
</style>
