<script>
  import CheckButton from '@/components/Survey/components/CheckButton'
  import ThvButton from '@/components/Shared/Button'

  export default {
    name: 'Diet',
    components: {
      ThvButton,
      CheckButton
    },
    computed: {
      selectedDiet () {
        return this.$store.state.survey.diet
      },
      submitDisabled () {
        return this.selectedDiet === ''
      }
    },
    created () {
      this.$store.commit('survey/setCurrentStage', 'diet')
    },
    data () {
      return {
        diets: {
          no: {
            name: 'No'
          },
          coeliac: {
            name: 'Coeliac'
          },
          lowCarbHighFat: {
            name: 'Low-carb, high-fat'
          },
          paleo: {
            name: 'Paleo'
          },
          pescatarian: {
            name: 'Pescatarian'
          },
          plantBased: {
            name: 'Plant-based'
          },
          other: {
            name: 'Other'
          }
        }
      }
    },
    methods: {
      setDiet (diet) {
        this.$store.commit('survey/setDiet', diet)
      },
      submit () {
        this.$store.commit('survey/setTransitionDirection', 'forward')
        this.$router.push('/dob')
      },
      back () {
        this.$store.commit('survey/setTransitionDirection', 'back')
        this.$router.push('/goals')
      }
    }
  }
</script>

<template lang='pug'>
  .grid-x.grid-x-margin
    .cell.small-12.medium-6.medium-offset-3
      .survey-questions__diet.align-center
        h1 Do you follow a particular diet?
        .spacer.sp__top--sm

        check-button(
          v-for='(diet, key) in diets',
          :key='key',
          :text='diet.name'
          :value="selectedDiet === key"
          @input="setDiet(key)"
        )

        .grid-x.button-container
          .cell.auto
            .back-button-container
              .back-button(@click='back') BACK
          .cell.auto.align-right
            thv-button(
              :disabled="submitDisabled"
              element='button',
              size='large'
              @click='submit'
            ) Next

</template>
