<script>
  import ThvButton from '@/components/Shared/Button'
  import DobInput from '@/components/Shared/DobInput'

  export default {
    name: 'Dob',
    components: {
      DobInput,
      ThvButton
    },
    computed: {
      submitDisabled () {
        return !this.dob || this.hasValidationErrors === true
      },
      dob: {
        get () {
          return this.$store.state.survey.dob
        },
        set (value) {
          this.$store.commit('survey/setDob', value)
        }
      }
    },
    created () {
      this.$store.commit('survey/setCurrentStage', 'dob')
    },
    data () {
      return {
        hasValidationErrors: false
      }
    },
    methods: {
      setHasValidationErrors (hasValidationErrors) {
        this.hasValidationErrors = hasValidationErrors
      },
      submit () {
        if (this.submitDisabled === false) {
          this.$store.commit('survey/setTransitionDirection', 'forward')
          this.$router.push('/gender')
        }
      },
      back () {
        this.$store.commit('survey/setTransitionDirection', 'back')
        this.$router.push('/diet')
      }
    }
  }
</script>

<template lang='pug'>
  .grid-x.grid-x-margin
    .cell.small-12.medium-6.medium-offset-3
      .survey-questions__dob.align-center
        h1 How old are you?
        .spacer.sp__top--sm
        p.body--large.question-description This helps us recommend the best test for you. We know it's a bit forward but our lips are sealed!
        .spacer.sp__top--sm

        dob-input.align-center.survey-input(
          v-model="dob"
          minAge='18',
          @has-validation-errors:updated="setHasValidationErrors"
          @submit="submit"
        )

        .grid-x.button-container
          .cell.auto
            .back-button-container
              .back-button(@click='back') BACK
          .cell.auto.align-right
            thv-button(
              :disabled="submitDisabled"
              element='button',
              size='large'
              @click='submit'
            ) Next
</template>

<style lang='stylus'>
  .survey-questions__dob
    .input__dob
      .input__group
        .input__dob__day, .input__dob__month, .input__dob__year
          max-width: 300px

    .input__feedback
      text-align: left
</style>
