<script>
  import CheckButton from '@/components/Survey/components/CheckButton'
  import ThvButton from '@/components/Shared/Button'

  export default {
    name: 'Gender',
    components: {
      ThvButton,
      CheckButton
    },
    computed: {
      selectedGender () {
        return this.$store.state.survey.gender
      },
      submitDisabled () {
        return this.selectedGender === ''
      }
    },
    created () {
      this.$store.commit('survey/setCurrentStage', 'gender')
    },
    data () {
      return {
        genders: {
          male: {
            name: 'Male'
          },
          female: {
            name: 'Female'
          }
        }
      }
    },
    methods: {
      setGender (gender) {
        this.$store.commit('survey/setGender', gender)
      },
      submit () {
        const surveyData = this.$store.getters['survey/getSurveyData']()
        alert(JSON.stringify(surveyData, null, 2))
      },
      back () {
        this.$store.commit('survey/setTransitionDirection', 'back')
        this.$router.push('/dob')
      }
    }
  }
</script>

<template lang='pug'>
  .grid-x.grid-x-margin
    .cell.small-12.medium-6.medium-offset-3
      .survey-questions__gender.align-center
        h1 Are you…
        .spacer.sp__top--sm
        p.body--large.question-description We need your biological sex to process your tests
        .spacer.sp__top--sm

        check-button(
          v-for='(gender, key) in genders',
          :key='key',
          :text='gender.name'
          :value='selectedGender === key'
          @input='setGender(key)'
        )

        .grid-x.button-container
          .cell.auto
            .back-button-container
              .back-button(@click='back') BACK
          .cell.auto.align-right
            thv-button(
              :disabled="submitDisabled"
              element='button',
              size='large'
              @click='submit'
            ) Next

</template>
