<script>
  import CheckButton from '@/components/Survey/components/CheckButton'
  import ThvButton from '@/components/Shared/Button'

  export default {
    name: 'Goals',
    components: {
      ThvButton,
      CheckButton
    },
    computed: {
      name () {
        return this.$store.state.survey.name
      },
      numberOfSelectedGoals () {
        return Object.values(this.selectedGoals).reduce((counter, isSelected) => {
          return isSelected ? counter + 1 : counter
        }, 0)
      },
      selectedGoals () {
        return this.$store.state.survey.goals
      },
      submitDisabled () {
        return this.numberOfSelectedGoals === 0
      }
    },
    created () {
      this.$store.commit('survey/setCurrentStage', 'goals')
    },
    data () {
      return {
        goals: {
          improveEnergy: {
            name: 'Energy'
          },
          improveFitness: {
            name: 'Fitness'
          },
          improveLongTermHealth: {
            name: 'Long-term health'
          },
          improveMood: {
            name: 'Mood'
          },
          improveSleep: {
            name: 'Sleep'
          },
          improveWeight: {
            name: 'Weight'
          }
        }
      }
    },
    methods: {
      setGoalSelection (goal, value) {
        this.$store.commit('survey/setGoalSelection', [goal, value])
      },
      submit () {
        this.$store.commit('survey/setTransitionDirection', 'forward')
        this.$router.push('/diet')
      },
      back () {
        this.$store.commit('survey/setTransitionDirection', 'back')
        this.$router.push('/name')
      }
    }
  }
</script>

<template lang='pug'>
  .grid-x.grid-x-margin
    .cell.small-12.medium-6.medium-offset-3
      .survey-questions__goals.align-center
        h1 Nice to meet you {{ name }}. What would you like to focus on?
        p.body--large.question-description Choose up to four
        .spacer.sp__top--sm

        check-button(
          v-for='(goal, key) in goals',
          :disabled="selectedGoals[key] !== true && numberOfSelectedGoals >= 4"
          :key='key',
          :text='goal.name'
          :value='selectedGoals[key]'
          @input="setGoalSelection(key, $event)"
        )

        .grid-x.button-container
          .cell.auto
            .back-button-container
              .back-button(@click='back') BACK
          .cell.auto.align-right
            thv-button(
              :disabled="submitDisabled"
              element='button',
              size='large'
              @click='submit'
            ) Next
</template>
